.col{
  height:100vh;
  text-align:center;
  padding-top: 40vh;
  font-weight:bold;
  color:white;
  font-size: 70px;
}
.orange{
  background-color:orange;
}
.green{
  background-color:green;
}
.yellow{
  background-color:yellow;
}
.gray{
  background-color:gray;
}
.blue{
  background-color:blue;
}
.red{
  background-color:red;
}
.black{

    background-color:black;
}
